/*Arkusz stylu*/
body
{
    text-align: center;
    background-color: black;
}

header
{
    font-size: large;
    color: white;
}

main
{
    font-size: medium;
    color: white;
}

footer
{
    font-size: small;
    color: white;
}