<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flights</title>
</head>
<body>
    <h1>All Flights</h1>
    {% for flight in flights %}
    <p>{{ flight.origin }} to {{ flight.destination }}</p>
    {% endfor %}

</body>
</html>