<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Flights</title>
</head>
<body>
    <h1>Dostępne loty</h1>
    <ul class="list-group">
        {% for flight in flights %}
        <a href="http:/google.com"><li class="list-group-item list-group-item-warning">{{ flight }}</li></a>
        {% endfor %}
    </ul>
</body>
</html>